# Folders
node_modules
build
dist


# Files
error.log
combined.log
exceptions.log
crash.log
.env
npm-debug.log
yarn-error.log
.vscode
one-word.code-workspace
.env
.DS_Store

# Sentry Config File
.sentryclirc
